<a href="https://colab.research.google.com/github/kritikamandale/Python_is_a_language/blob/main/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Sets

In [ ]:
this_set = {"apple", "banana", "cherry"}
this_set.add("Kiwi")
print(this_set)

{'Kiwi', 'cherry', 'apple', 'banana'}

In [ ]:
this_set.remove("banana")
print(this_set)

{'Kiwi', 'cherry', 'apple'}

In [ ]:
#Que 1
#type 1
s1 = {"a","b","c","d"}
s2 = {"e","f","g"}
s3 = s1.union(s2)
print(s3)

{'g', 'f', 'e', 'd', 'c', 'b', 'a'}

In [ ]:
#type 2
s1 = {"a","b","c","d"}
s2 = {"e","f","g"}
for i in s2:
    s1.add(i)
print(s1)

{'g', 'f', 'e', 'd', 'c', 'b', 'a'}

In [ ]:
#type 3
s1 = {"hello","hii","hola","bonjour"}
s2 = {"a","b","c","d"}
myset = s1|s2
print(myset)

{'hola', 'bonjour', 'd', 'c', 'hii', 'b', 'a', 'hello'}

In [ ]:
#Que2
clg_std = {"id1","id2","id3","id4","id5","id6","id7","id8","id9","id10"}
def check_id(student_id):
  for i in clg_std:
    student_id = input("enter your id - ")
    if (student_id in clg_std):
      print("you are allowed")
    else:
      print("you are not allowed")
check_id(clg_std)

enter your id - id3
you are allowed
enter your id - id6
you are allowed
enter your id - id99
you are not allowed
enter your id - id3
you are allowed
enter your id - id8
you are allowed
enter your id - id0
you are not allowed
enter your id - id6
you are allowed
enter your id - id5
you are allowed
enter your id - id33
you are not allowed
enter your id - id2
you are allowed

In [ ]:
#Que3
k1 = {"kritika", "shreeya","maithili","Khushi","Nandini", "Swm", "Yash"}
k2 ={"kritika","maithili","saee","unnati","anushka","vanshika"}
k1.intersection(k2)

{'kritika', 'maithili'}

In [ ]:
#Que4
#longin ke badd ka follow
users = {
    "kritika":"kritika123",
    "shreeya":"shreeya123",
    "maithili":"maithili123",
    "khushi":"khushi123",
    "Nandini":"nandini123"
}

username = input("enter your username - ")
password = input("enter your password - ")

if(username in users.keys() and password == users[username]):
    print("you are logged in")
else:
    print("Invalid Username")

enter your username - kritika
enter your password - igt
Invalid Username

In [35]:
#Que5
def open_mobile():
  username = input("enter your username - ")
  password = input("enter your password - ")

def open_app(username,password):
  username = input("enter your username - ")
  password = input("enter your password - ")

  if(username in users.keys() and password == users[username]):
      print("you are logged in")
  else:
      print("Invalid Username")
open_app(username,password)

enter your username - hyu
enter your password - 98
Invalid Username

In [36]:
#Que5
def authentication(current_user, permissions_dict):
    apps = {
        1: "Instagram",
        2: "Gallery",
        3: "GPay"
    }

    allowed_apps = permissions_dict.get(current_user, set())

    while True:
        value = input("Enter app code (1-Instagram, 2-Gallery, 3-GPay, q to quit): ")

        if value.lower() == 'q':
            print("Exiting app access.")
            break

        if not value.isdigit():
            print("Invalid input. Enter 1-3 or q.")
            continue

        value = int(value)

        if value in allowed_apps and value in apps:
            print(f"Opening {apps[value]}")
        else:
            print("Permission denied.")
def authentication(current_user, permissions_dict):
    apps = {
        1: "Instagram",
        2: "Gallery",
        3: "GPay"
    }

    allowed_apps = permissions_dict.get(current_user, set())

    while True:
        value = input("Enter app code (1-Instagram, 2-Gallery, 3-GPay, q to quit): ")

        if value.lower() == 'q':
            print("Exiting app access.")
            break

        if not value.isdigit():
            print("Invalid input. Enter 1-3 or q.")
            continue

        value = int(value)

        if value in allowed_apps and value in apps:
            print(f"Opening {apps[value]}")
        else:
            print("Permission denied.")
def authentication(current_user, permissions_dict):
    apps = {
        1: "Instagram",
        2: "Gallery",
        3: "GPay"
    }

    allowed_apps = permissions_dict.get(current_user, set())

    while True:
        value = input("Enter app code (1-Instagram, 2-Gallery, 3-GPay, q to quit): ")

        if value.lower() == 'q':
            print("Exiting app access.")
            break

        if not value.isdigit():
            print("Invalid input. Enter 1-3 or q.")
            continue

        value = int(value)

        if value in allowed_apps and value in apps:
            print(f"Opening {apps[value]}")
        else:
            print("Permission denied.")

In [38]:
permissions = {
    "Maithili": {1, 3},
    "User2": {2}
}

authentication("Maithili", permissions)

Enter app code (1-Instagram, 2-Gallery, 3-GPay, q to quit): 4
Permission denied.
Enter app code (1-Instagram, 2-Gallery, 3-GPay, q to quit): 2
Permission denied.
Enter app code (1-Instagram, 2-Gallery, 3-GPay, q to quit): 1
Opening Instagram
Enter app code (1-Instagram, 2-Gallery, 3-GPay, q to quit): 1
Opening Instagram
Enter app code (1-Instagram, 2-Gallery, 3-GPay, q to quit): q
Exiting app access.

In [2]:
import pandas as pd

In [40]:
data = pd.read_csv('/content/predict_energy_consumption.xls')
data

     temperature   humidity  wind_speed  solar_irradiance  energy_consumption
0      24.363503  31.107976    5.234114        705.432695          307.398145
1      38.767858  52.514057    4.939576        817.013257          412.444548
2      33.299849  72.376750   18.125092        325.421109          392.072418
3      29.966462  63.933493    4.990924        662.386690          119.254957
4      18.900466  68.393669    5.438995        614.571385          117.162261
..           ...        ...         ...               ...                 ...
995    17.289552  59.417309   17.305915        497.896331          453.828793
996    37.932839  77.396877    3.145464        400.961061          103.721455
997    18.420466  24.137481    6.195757        455.115084          197.529277
998    38.755934  23.423283    5.800911        576.946528          417.085421
999    26.150144  36.931224   17.428281        245.230623          318.790570

[1000 rows x 5 columns]

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   temperature         1000 non-null   float64
 1   humidity            1000 non-null   float64
 2   wind_speed          1000 non-null   float64
 3   solar_irradiance    1000 non-null   float64
 4   energy_consumption  1000 non-null   float64
dtypes: float64(5)
memory usage: 39.2 KB

In [42]:
data.describe()

,temperature,humidity,wind_speed,solar_irradiance,energy_consumption
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,27.256414,50.421038,10.048115,541.337543,272.347395
std,7.303434,17.531394,5.813484,257.840410,129.064474
min,15.115801,20.193096,0.000233,100.588052,50.013823
25%,20.899332,34.464456,5.227020,317.710693,160.238303
50%,27.420184,51.124034,10.012278,535.851355,272.569144
75%,33.607990,65.627903,15.182071,763.786729,382.997053
max,39.992942,79.964824,19.956417,999.601933,498.987225